*, *::before, *::after, html, body, ul, li {
   margin: 0; 
   padding: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    color: hsl(0, 0.00%, 0%);
    background-color: hsl(0, 0.00%, 50%);
    padding: 0.8rem 1rem;
}

ul, li {
    list-style: none;
}

a, a:visited {
    color: rgb(0, 0, 255);
}


.projects_index {
    margin: 1rem 0;
}

.projects_index .project_item {
    display: grid;
    /* grid-template-columns: 10vw, 30vw; */
    margin-bottom: 0.5rem;
}

.projects_index .project_item:hover {
    background-color: hsl(0, 0.00%, 75%) !important;
}

.projects_index .project_item:last-of-type {
    margin-bottom: 0;
}

.projects_index .project_item.selected {
    background-color: hsl(0, 0.00%, 60%);
}

.projects_index .project_item .date {
    grid-column: 1;
    grid-row: 1;
}
.projects_index .project_item .title {
    grid-column: 2;
    grid-row: 1;
}

.projects_index .project_item .tags {
    display: none;
}


.image_wrapper {
    max-width: 50%;
}

.image_wrapper img {
    width: 100%;
}

.image_wrapper p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


*::-webkit-scrollbar { display: none; }