<html>
	<head>
		<title>Studio Prince</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="css/media-query.css" media="screen">

		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<header>
			<h1>STUDIO PRINCE</h1>
			<ul tag="projects_tags"></ul>
		</header>

		<div id="content_wrapper">
			<ul tag="projects_index"></ul>

			<div id="handle">
				<div id="line"></div>
			</div>

			<div id="content">
				<ul class="projects_container">
					<li tag="project">
						<ul tag="project_tags"></ul>
						<ul tag="project_text"></ul>
					</li>
				</ul>

				<ul tag="projects_gallery"></ul>
			</div>
		</div>
	</body>
</html>
