<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ed Lewis</title>

		<base href="http://localhost:5500/current/">

		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="css/media-query.css" media="screen">
	</head>
	<body>
		<header>
			<p>
				<a href="/current">Ed lewis</a> is a designer, researcher and film maker exploring the state of individual and collective identity as it is moulded by external forces. <a href="mailto:info@edlewis.co">info@edlewis.co</a>
			</p>
		</header>
		<main>
			<ul tag="projects_index"></ul>
			<div tag="project">
				<ul tag="project_text"></ul>
				<ul tag="project_tags"></ul>
			</div>
			<ul tag="project_gallery"></ul>
		</main>
	</body>
</html>